.streamPreviewsContainer {

}

.streamPreviewContainer {
  float: left;
  margin: 20px;
  width: 320px;
}

.streamPreviewUser {

}

.streamPreviewImage {

}

.linkWhite:hover {
  color: white;
}

.linkWhite {
  color: white;
}

.streamPreviewTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration-color: white;
}

.tableContainer {
  padding: 0px;
}

.tableContainer table {
  width: 100%;
}

.tableContainer td, .tableContainer th {
  padding: 10px;
}


@media only screen and (max-width: 800px) {

  /* Force table to not be like tables anymore */
  .tableContainer table,
  .tableContainer thead,
  .tableContainer tbody,
  .tableContainer th,
  .tableContainer td,
  .tableContainer tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .tableContainer thead tr {
    display: none;
  }

  /*.tableContainer tr { border: 1px solid #ccc; }*/
  .tableContainer tr {
    /*margin-bottom: 10px;*/
  }

  .tableContainer td {
    /* Behave  like a "row" */
    border: none;
    /*border-bottom: 1px solid #eee;*/
    position: relative;
    padding-left: 55% !important;
    white-space: normal;
    text-align:left;
  }

  .tableContainer td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
    Label the data
    */
  .tableContainer td:before { content: attr(data-title); }
}
