container_commands:
  enable_websockets:
    command: |
      sed -i '/\s*proxy_set_header\s*Connection/c \
              proxy_set_header Upgrade $http_upgrade;\
              proxy_set_header Connection "upgrade";\
              add_header Strict-Transport-Security "max-age=31536000; includeSubDomains;";\
              ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
  redirect_https:
    command: |
      sed -i '/\s*listen\s*8080/c \
        listen 8080;\
            set $redirect_to_https 0;\
        if ($http_x_forwarded_proto != 'https') {\
            set $redirect_to_https 1;\
        }\
        if ($request_uri = '/health') {\
            set $redirect_to_https 0;\
        }\
        if ($redirect_to_https = 1) {\
            rewrite ^ https://zilean.gg$request_uri? permanent;\
        }\
        ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
