.yourStatsContainer {
  width: 200px;
  margin-bottom: 15px;
}

.yourStatsContainer>div {
  display: inline-block;
}

.statsLeft {
  width: 120px;
}

.statsRight {
  width: 50px;
  text-align: right;
}