.streamPreviewsContainer {

}

.streamPreviewContainer {
  float: left;
  margin: 20px;
  width: 320px;
}

.streamPreviewUser {

}

.streamPreviewImg {
  width: 320px;
  height: 180px;
}

.linkWhite:hover {
  color: white;
}
.linkWhite {
  color: white;
}
.streamPreviewTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration-color: white;
}