.collapseHeader {
  padding: 0;
}

.popoverInWell {
  background-color: #3c3c3c;
}

.openMarketContainer {
  clear: both;
  cursor: pointer;
  padding: 19px;
}

.openMarketName {
  display: inline-block;
  width: 50%;
  vertical-align: text-bottom;
}

.chevronIcon {
  top: 17px;
}

.chevronIconSmall {
  top: 5px;
}

.openMarketPriceContainer {
  display: inline-block;
  width: 50%;
}

.openMarketPrice {
  /*padding-right: 10px;*/
  display: block;
  float: right;
}

.currentInvestment {
  display: block;
  clear: both;
}

.marketHeaderStats {
  padding-right: 20px;
}

.marketBtn {
  /*margin-left: 20px;*/
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.marketBtnCancel {
  /*margin-left: 20px;*/
  display: block;
  /*float: right;*/
  width: 100%;
  /*margin-top: 15px;*/
}

.marketBtnGo {
  margin-bottom: 15px;
}

.marketInfoDesc {
  display: inline-block;
}

.buySellArea {
  padding-top: 15px;
}

.marketCol {
  padding: 35px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 2px solid #2c2c2c;
  border-right: 2px solid #2c2c2c;
}

.buySellButton {
  width: 100%;
  padding: 0;
  border: none;
}

.buySellButtonChildren {
  display: inline-block;
  width: 40%;
  padding: 10px 0;
}

.buySellLeftChild {
  border-right: 2px dotted #beeee2;
  width: 60%;
}

.buySellHeader {
  margin-bottom: 30px;
}

.sliderContainer {
  width: 80%;
  display: inline-block;
}

.numSharesContainer {
  margin-bottom: 15px;
}

.helpIcon {
  margin-left: 10px;
  color: #dcdcdc;
}

.shareIcon {
  margin-right: 10px;
  top: 2px;
}

.expandedMarketContent {
  /*padding: 19px;*/
  /*padding-top: 10px;*/
  margin-left: 0;
  margin-right: 0;
}

.openMarketContainer:hover {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
}

.transactionHighlight {
  font-weight: 600;
  color: #00bc8c;
}

