

.headerContainer {
  height: 25px;
}

.marketsHeader {
  float: left;
}

.frame {
  width: 100%;
  height: 400px;
}

.marketTabsContainer>ul>li {
  width: 50%;
}
.marketTabsContainer>ul>li>a {
  margin-right: 0;
  font-size: 26px;
}